@model List<Employee.Mvc.Controllers.test>
@{
    ViewData["Title"] = "Home Page";

}

@await Html.PartialAsync("Components/table-component", Model)

@* <form asp-action="DeleteEmployee" asp-controller="Home" method="post"> *@
    @* <input value="3" for="id" name="id" type="hidden"> *@
    @* <button type="submit">s</button> *@
@* </form> *@