<footer class="py-2 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center mb-0">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/giorgi-dgebuadze-40032024b/" target="_blank">
                            <i class="mdi mdi-linkedin mdi-48px" ></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/giorgi.dgebuadze.75/" target="_blank">
                            <i class="mdi mdi-facebook mdi-48px"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/GioDgebuadze15" target="_blank">
                             <i class="mdi mdi-github mdi-48px"></i>
                        </a>
                    </li>
                </ul>
                <div class="text-center">&copy;@DateTime.Now.Year - <strong>Giorgi Dgebuadze</strong></div>

            </div>
        </div>
    </div>
</footer>