@using Employee.Services.AppServices.ParserService
@{
    var cookieParser = new CookieParser(Context);
    var isUserLoggedIn = cookieParser.HasToken;
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SoftX</a>
        </div>
        @if (isUserLoggedIn)
        {
            <div class="d-flex align-items-center">
                <form method="post" asp-controller="Account" asp-action="LogOut">
                    <button type="submit" class="btn text-white" style="background-color: #3f51b5">
                        <i class="mdi mdi-logout me-2">
                        </i> Logout
                    </button>
                </form>
            </div>
        }
        else
        {
            <div class="d-flex align-items-center">
                <a type="submit" class="btn text-white" style="background-color: #3f51b5" asp-controller="Account" asp-action="SignIn">
                    <i class="mdi mdi-login me-2">
                    </i> Login
                </a>
            </div>
        }
    </div>
</nav>