@model List<Employee.Data.Models.Employee>

<form asp-action="AddEmployee" asp-controller="Home" method="get">
    <div class="d-flex align-items-center justify-content-end mb-4">
        <button class="btn btn-success"><i class="mdi mdi-plus"></i> Add</button>
    </div>
</form>

<form asp-action="FilterEmployees" asp-controller="Home" method="get">
    <div class="input-group mb-3">
        <input type="search" class="form-control bg-transparent text-white search" placeholder="Search" id="filter-input"/>
        <span class="input-group-text bg-transparent text-white search-span">
            <i class="mdi mdi-magnify mdi-24px search-icon"></i>
        </span>
    </div>
</form>

<div class="table-div">
    <table class="table table-hover shadow-lg rounded" id="employee-table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Personal Id</th>
            <th>Gender</th>
            <th>Mobile Number</th>
            <th>Position</th>
            <th>Employee Status</th>
            <th>Date Of Fire</th>
            <th>Controls</th>
        </tr>
        </thead>
        <tbody id="employee-table-body">
        @await Html.PartialAsync("_EmployeeTable", Model)
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
$(function () {
    let timeout;
    $("#filter-input").on("input", function () {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            $.ajax({
                url: "@Url.Action("FilterEmployees", "Home")",
                type: "GET",
                data: { searchText: $("#filter-input").val() },
                success: function (result) {
                     if ($("#filter-input").val() === "") {
                         window.location.href = "/";
                    }else{
                         
                    $("#employee-table-body").html(result);
                    }
                    },
                error: function () {
                }
            });
        }, 500);
    });
});


</script>